html,body{
  height:100%;
  width:100%;
}
aside{
 background-color:#A3504C;
 position:fixed;
 left: 0;
 top:0;
 width:20%;
 height: 100%;
}
aside ul {
 display:block;
 margin:10em 3em;

}
aside nav ul li{
 color:white;
 display:block;
 margin:1em 0;
}
footer{
position: fixed;
bottom: 0;
height:4em;
width:100%;
background-color:#E9EADC;
padding-bottom: 1em;
}
#info{
width: 50%;
display: block;
padding-left: 25px;
}

#social{
display: inline-block block;
width: 50%;
text-align: right;
position: absolute;
padding-right: 32px;
top: 50%;
right: 0;
transform: translateY(-50%);
}
#social .fa {
 margin-left: 0.375emms;
}
.fa-twitter {
color:#5EA9DD;
}
.fa-facebook-official {
color: #3A5795;
}

section.home{
  text-align: center;
}
section {
  padding: 2em 0;
}
.logo {
  background-image: url(../images/logo/logo.jpg);
  background-size: contain;
  background-position: center;
  height: 10em;
  width: 10em;
  margin: 0 auto;
}
 p {
   padding: 1em;
 }
section.locations{
  text-align: center;
}

.lugares {
  background-image: url(../images/sucursales);
  background-size: cover;
  background-position: center;
  height: 18em;
  width: 80%;
  margin: 0 auto;

}


section.team{
background-color:#E9EADC;
}
.names{
  font-size: 1em;
  text-align: center;
}
[class^="avatar"]{
  width: 10em;
  height: 10em;
margin:0 auto;
border-radius: 50%;
overflow: hidden;
background-image: url(../images/team/img1.jpg);
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
}
.avatar1{
  background-image: url(../images/team/img1.jpg);
}
.avatar2{
  background-image: url(../images/team/img2.jpg);
}
.avatar3{
  background-image: url(../images/team/img3.gif);
}
.avatar4{
  background-image: url(../images/team/img4.jpg);
}
.avatar5{
  background-image: url(../images/team/img5.gif);
}
.avatar6{
  background-image: url(../images/team/img6.jpg);
}
.avatar7{
  background-image: url(../images/team/img7.jpg);
}
.avatar8{
  background-image: url(../images/team/img8.gif);
}
.avatar9{
background-image: url(../images/team/img9.jpg);
}
.avatar10{
background-image: url(../images/team/img10.jpg);
}
.logofb{
  height: 2em;
  width: 2em;
  background-size: contain;:
  padding:1em;
}
