html,body{
  height:100%;
  width:100%;
}
aside{
 background-color:#A3504C;
 position:fixed;
 left: 0;
 top:0;
 width:20%;
 height: 100%;
}
aside ul {
 display:block;
 margin:10em 3em;

}
aside nav ul li{
 color:white;
 display:block;
 margin:1em 0;
}
footer{
position: fixed;
bottom: 0;
height:3em;
width:100%;
background-color:#E9EADC;
}

section.home{
  text-align: center;
}
section {
  padding: 2em 0;
}
.logo {
  background-image: url(../images/logo/logo.jpg);
  background-size: contain;
  background-position: center;
  height: 10em;
  width: 10em;
  margin: 0 auto;
}
 p {
   font-size: 24px;
 }
section.locations{
  text-align: center;
}

.lugares {
  background-image: url(../images/sucursales);
  background-size: cover;
  background-position: center;
  height: 18em;
  width: 80%;
  margin: 0 auto;

}


section.team{

}
